<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link href="../main.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="../bulma/bulma.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <title>Document</title>
    <script src="../main.js"></script>
</head>
<body>
    <img src="/image/3.jpg" class="sidepd4">
    <hr class="hr1">
  
         
        
    </div>
    <div class="wrapper2" >
     <p class="txt1">
    <strong>1.個人情報の登録</strong><br>
    </p>
    </div>
    <div class="wrapper4">
    <p class="txt">
    続いて、個人情報の登録を行います。入金や出金をする場合、事前にご自身の個人情報の登録が必要となりますので、必ず行ってください。
    マイページのメニューの「個人情報登録」をクリックしてください。
    </p>
    </div>
    <div class="wrapper5">
    <img class="responsiveImg" src="/images/7.jpg">
    </div>
    <div class="wrapper4">
    <p class="txt">
        すると、個人情報登録画面がでますので、<br>
        <br>
        1.登録種別（個人口座を選択）<br>
        2.名前・フリガナ<br>
        3.日中の連絡先<br>
        4.銀行名（銀行入金を行う場合の銀行名）・支店名・口座番号・口座名義（証券口座と同じ人の名義口座であること）<br>・銀行コード・支店コード・スイフトコード（ご自身の銀行のHPで検索すると確認できます）
        5.お客様住所<br>
        6.銀行所在国<br>
        7.銀行住所<br>
        <br>
        登録確認ボタンを押して、登録完了となります。
    </p>
    </div>
     <div class="wrapper5">
    <img class="responsiveImg" src="/images/8.jpg">
    <img class="responsiveImg" src="/images/9.jpg">
    <img class="responsiveImg" src="/images/10.jpg">
    <img class="responsiveImg" src="/images/11.jpg">
    </div>
    
     <div class="wrapper2" >
     <p class="txt1">
    <strong>2.口座への入金</strong><br>
    </p>
    </div>
     <div class="wrapper4">
    <p class="txt">
    次に、運用する為の資金をご自身の口座へ入金します。
    Gemforex口座への入金は様々な方法がありますが、一般的な方法として「銀行送金」「クレジットカード送金」があります。
    マイページのメニューの「<strong>ご入金</strong>」をクリックしてください。
    </p>
    </div>
    <div class="wrapper5">
    <img class="responsiveImg" src="/images/12.jpg">
    <img class="responsiveImg" src="/images/13.jpg">
    </div>
    <div class="wrapper4">
    <p class="txt">
    銀行送金とクレジットカード送金に関して解説していきます。
    </p>
    </div>
     <div class="wrapper2" >
     <p class="txt1">
    <strong>2-1.クレジットカード送金</strong><br>
    </p>
    </div>
    <div class="wrapper4">
    <p class="txt">
    クレジットカード送金は、即時口座へ反映するため、一番便利な方法です。まず、入金ページに移動し、クレジットカード送金方法の項目にあるフォーマットをご覧ください。

    下の図のように、「ご入金金額」を記入する箇所がありますので、入金予定金額（円）を入力してください。そして、「入金はこちら」をクリックします。
    </p>
    </div>
    <div class="wrapper5">
    <img class="responsiveImg" src="/images/14.jpg">
    </div>
     <div class="wrapper4">
    <p class="txt">
    次にクレジットカード情報を画面に従って入力し、「確認画面」に移動後、送信を押してください。
    入金完了画面に切り替われば、入金完了となります。
    </p>
    </div>
    <div class="wrapper5">
    <img class="responsiveImg" src="/images/16.jpg">
    <img class="responsiveImg" src="/images/17.jpg">
    </div>
     <div class="wrapper2" >
     <p class="txt1">
    <strong>2-2.銀行送金</strong><br>
    </p>
    </div>
    <div class="wrapper4">
    <p class="txt">
    入金ページに移動すると、銀行送金方法の詳細が書かれていますので、ご覧ください。<br>
    注意点：<br>
        <strong>・口座開設をされた方（口座名義人）と振込依頼人名義が同一の必要がある。<br>
        ・振込依頼人の末尾、または、備考欄に、弊社の口座番号（ メタトレーダーの口座番号）を必ず記入する。<br>
        ・入金の際には、マイページの個人情報登録を完了させておく。<br>
        ・入金の前に必ず、以下フォームより入金予約登録を行う。</strong><br>
        <br>
    サイト画面にあるように、入金口座番号・入金予定金額を入力して、「振込予約」ボタンを押してください。
    その後、サイトの振込先に書かれている銀行口座（みずほ銀行）に入金すれば、2～3時間ほどで、口座に反映されます。
    </p>
    </div>
    
    <div class="wrapper2" >
    <p class="txt1">
    <strong>3.口座反映の確認</strong><br>
    </p>
    </div>
      <div class="wrapper4">
    <p class="txt">
    入金後の口座反映確認の方法をお伝えいたします。
    マイページのメニューの「保有口座一覧」をクリックします。保有口座リストが表示されます。口座番号等の情報が記載されており、「取引残高」の項目をご覧ください。
    先ほど、入金した金額が反映されていれば、OKです。
    </p>
    </div>
      <div class="wrapper5">
    <img class="responsiveImg" src="/images/18.jpg">
    <img class="responsiveImg" src="/images/19.jpg">
    </div>
    <div class="wrapper4">
    <p class="txt">
    <strong>（※反映時間は正確には決まっておりませんので、入金からの時間は十分おいてから確認してください。いつまでたっても反映しない場合は、うまく入金ができいない場合がありますので、再度入金方法を確認するか、証券会社へ問い合わせをお願い致します。）
      入金が完了すると、システムが自動稼働し、取引が自動で開始となります。あとは、資産の運用状況を口座残高にて、定期的に確認するだけです。
      ご自身でツールの設定などは特に必要ありません。</strong>
    </p>
    </div>
    

    <div class="wrapper6">
    <a href="/start" class="previous">&laquo; 戻る</a>
    <a href="/start/3" class="next">次へ &raquo;</a>
    </div>
    

    
    
    <footer id="myFooter">
        <div id="mycontainer" class="container blackDiv">
            <div class="row blackDiv"> 
                <div id="image_wrapper" class="col-sm-12 col-md-2 blackDiv">
                    <h2 class="logo"><a href="#"><img id="ifcLogo" src="/image/IFC rogo.png"></a></h2>
                </div>
                <div class="col-sm-12 col-md-2 blackDiv footerList" >
                    <h5>製品情報</h5>
                    <ul>
                        <li><a href="https://www.ifc752.com/gallery">有料EA AUZIE</a></li>
                        <li><a href="https://www.ifc752.com/bee">有料EA BEE</a></li>
                        <li><a href="https://www.ifc752.com/blank-2">IFC SYSTEM1</a></li>
                        <li><a href="https://www.ifc752.com/ifcsystem1">IFC SYSTEM2</a></li>
                        <li><a href="https://www.ifc752.com/ifcsystem2">IFC SYSTEM3</a></li>
                        <li><a href="https://www.ifc752.com/ifcsystem4-3">IFC SYSTEM4</a></li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-2 blackDiv footerList">
                    <h5>サポート</h5>
                    <ul>
                        <li><a href="https://line.me/R/ti/p/%40vbu5369m">IFC EA LINE@</a></li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-2 blackDiv footerList">
                    <h5>場所</h5>
                    <ul>
                        <li>JAPAN</li>
                    
                    </ul>
                </div>
                <div class="col-sm-12 col-md-2 blackDiv footerList">
                    <h5>企業情報</h5>
                    <ul>
                        <li><a href="https://www.sinseeddeviation.com/">会社概要</a></li>
                        <li><a href="/privacypolicy">プライバシーポリシー</a></li>
                    </ul>
                </div>
                <div id="button_wrapper" class="col-sm-12 col-md-2 blackDiv">
                    <button onclick="location.href='/'" type="button" class="btn btn-default">TOPに戻る</button>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2019 Copyright IFC GROUP </p>
        </div>
    </footer>
    
    
    <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="main.js"></script>
</body>

</html>