<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link href="../main.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="../bulma/bulma.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <title>Document</title>
    <script src="../main.js"></script>
</head>
<body>
    <img src="/image/4.jpg" class="sidepd4">
    <hr class="hr1">
  
  <div class="wrapper2" >
     <p class="txt1">
    <strong>1.MT4の導入(pc版)</strong><br>
    </p>
    </div>
    
    <div class="wrapper4">
    <p class="txt">
    入金が完了した段階で、運用が開始しております。運用状況や履歴の確認等は、MT4、メタトレーダー4と呼ばれるFX取引ツールにて、随時確認が可能です。<br>
MT4はPCにダウンロードすることが可能です。またはスマホにてMT4アプリがあるので、そちらを使用しても問題ありません。
    </p>
    </div>
    
    <div class="wrapper4">
    <p class="txt">
    FX取引ツールであるMT4をPCにダウンロードします。 Gemforexのマイページに移動してください。上のメニューの「プラットフォーム」を押してください。
    </p>
    </div>
    
    <div class="wrapper5">
    <img class="responsiveImg" src="/images/20-1.jpg">
    </div>
    
    <div class="wrapper4">
    <p class="txt">
    次のページの「MT4（Metatrader 4）のPC用のダウンロードはこちら」をダウンロードしてください。<br>
    ※ MACの場合は、Mac専用のデータをダウンロードしてください。
    </p>
    </div>
    
    <div class="wrapper5">
    <img class="responsiveImg" src="/images/21.jpg">
    </div>
    
    <div class="wrapper5">
    <img class="responsiveImg" src="/images/22.jpg">
    </div>
    
    <div class="wrapper4">
    <p class="txt">
    MT4が起動します。上のメニューの「ファイル」→「取引口座にログイン」を選択します。下の口座にログイン情報の画面がでますので、必要情報を入力します。<br>
    <strong>入力するIDやパスワード、サーバー情報は、Gemforexの口座開設完了時に、登録したメールアドレス宛に送付されますので、確認してください。</strong>
    </p>
    </div>
    
    <div class="wrapper5">
    <img class="responsiveImg" src="/images/5.jpg">
    </div>
    
    <div class="wrapper4">
    <p class="txt">
    ID：口座番号を入力<br>
    パスワード：パスワードを入力<br>
    サーバー：サーバー名を選択する<br>
    その後、「ログイン」ボタンを押してください。<br>
    このMT4の履歴で運用状況を確認できます。<br>
    MT4のダウンロードや口座へのログイン方法・履歴・残高の確認方法は、証券の専用動画ページをご覧ください。下のリンクからアクセスできます。
    <br>
    <br>
    </p>
     <a href='https://gforex.asia/vip/77486/'>
    <button type="button" class="btn btn-lg btn-secondary mgtop">MT4解説動画</button>
    </a>
    </div>
    <div class="wrapper2" >
     <p class="txt1">
    <strong>2.MT4の導入(アプリ版)</strong><br>
    </p>
    </div>
    <div class="wrapper4">
    <p class="txt">
    MT4のアプリを使用することでも、運用状況の管理が随時可能です。
    スマートフォン『MT4アプリ』をインストールします。
    このアプリで現在持っている『ポジションの確認』や『手動で決済』したり『取引履歴』を確認することができます。
    メニューの『設定』→『新規口座』を選択します。
    </p>
    </div>
    <div class="wrapper5">
    <img class="responsiveImg" src="/images/slide1.jpg">
    </div>
     <div class="wrapper4">
    <p class="txt">
    MT4をアプリにXMの口座登録をします。
    口座開設時のメールに記載がある『サーバー』を選択します（画像は単なる例です）。Gemforexのサーバー名は、口座開設時に配信されるメール宛に記載されております。
    <br><strong>（サーバー名：GemTrade-Live 1 or 2 と入力すると出てくる）</strong>
    </p>
    </div>
    <div class="wrapper5">
    <img class="responsiveImg" src="/images/slide2.jpg">
    </div>
    <div class="wrapper4">
    <p class="txt">
    口座の『ID』と口座開設時に設定した『パスワード』を入力します。
    </p>
    </div>
     <div class="wrapper5">
    <img class="responsiveImg" src="/images/slide3.jpg">
    </div>
    <div class="wrapper4">
    <p class="txt">
    口座にログインができると完了です。下のメニューの「トレード」をクリックすると、口座残高が表記されています。このアプリで、口座残高をご確認頂く事ができます。
    </p>
    </div>
    
    <div class="settocenter">
    <a href="/start/4">出金方法</a>
    </div>

    

    
    
    <footer id="myFooter">
        <div id="mycontainer" class="container blackDiv">
            <div class="row blackDiv"> 
                <div id="image_wrapper" class="col-sm-12 col-md-2 blackDiv">
                    <h2 class="logo"><a href="#"><img id="ifcLogo" src="/image/IFC rogo.png"></a></h2>
                </div>
                <div class="col-sm-12 col-md-2 blackDiv footerList" >
                    <h5>製品情報</h5>
                    <ul>
                        <li><a href="https://www.ifc752.com/gallery">有料EA AUZIE</a></li>
                        <li><a href="https://www.ifc752.com/bee">有料EA BEE</a></li>
                        <li><a href="https://www.ifc752.com/blank-2">IFC SYSTEM1</a></li>
                        <li><a href="https://www.ifc752.com/ifcsystem1">IFC SYSTEM2</a></li>
                        <li><a href="https://www.ifc752.com/ifcsystem2">IFC SYSTEM3</a></li>
                        <li><a href="https://www.ifc752.com/ifcsystem4-3">IFC SYSTEM4</a></li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-2 blackDiv footerList">
                    <h5>サポート</h5>
                    <ul>
                        <li><a href="https://line.me/R/ti/p/%40vbu5369m">IFC EA LINE@</a></li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-2 blackDiv footerList">
                    <h5>場所</h5>
                    <ul>
                        <li>JAPAN</li>
                    
                    </ul>
                </div>
                <div class="col-sm-12 col-md-2 blackDiv footerList">
                    <h5>企業情報</h5>
                    <ul>
                        <li><a href="https://www.sinseeddeviation.com/">会社概要</a></li>
                        <li><a href="/privacypolicy">プライバシーポリシー</a></li>
                    </ul>
                </div>
                <div id="button_wrapper" class="col-sm-12 col-md-2 blackDiv">
                    <button onclick="location.href='/'" type="button" class="btn btn-default">TOPに戻る</button>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2019 Copyright IFC GROUP </p>
        </div>
    </footer>
    
    
    <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="main.js"></script>
</body>

</html>