<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link href="../main.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="../bulma/bulma.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <title>Document</title>
    <script src="../main.js"></script>
</head>
<body>
    
    <footer id="myFooter">
        <div id="mycontainer" class="container blackDiv">
            <div class="row blackDiv"> 
                <div class="col-sm-2 blackDiv">
                    <h2 class="logo"><a href="#"><img id="ifcLogo" src="/image/IFC rogo.png"></a></h2>
                </div>
                <div class="col-sm-2 blackDiv footerList" >
                    <h5>製品情報</h5>
                    <ul>
                        <li><a href="#">無料EA CEED</a></li>
                        <li><a href="#">有料EA AUZIE</a></li>
                        <li><a href="#">有料EA BEE</a></li>
                        <li><a href="#">IFC SYSTEM1</a></li>
                        <li><a href="#">IFC SYSTEM2</a></li>
                        <li><a href="#">IFC SYSTEM3</a></li>
                        <li><a href="#">IFC SYSTEM4</a></li>
                    </ul>
                </div>
                <div class="col-sm-2 blackDiv footerList">
                    <h5>サポート</h5>
                    <ul>
                        <li><a href="#">IFC Group LINE@</a></li>
                        <li><a href="#">AUZIE LINE@</a></li>
                        <li><a href="#">CEED LINE@</a></li>
                    </ul>
                </div>
                <div class="col-sm-2 blackDiv footerList">
                    <h5>場所</h5>
                    <ul>
                        <li><a href="#">JAPAN</a></li>
                    
                    </ul>
                </div>
                <div class="col-sm-2 blackDiv footerList">
                    <h5>企業情報</h5>
                    <ul>
                        <li><a href="/privacypolicy">プライバシーポリシー</a></li>
                    
                    </ul>
                </div>
                <div class="col-sm-2 blackDiv">
                    <div class="social-networks blackDiv">
                        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
                    </div>
                    <button type="button" class="btn btn-default">TOPに戻る</button>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2019 Copyright IFC GROUP </p>
        </div>
    </footer>
    
    
    <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="main.js"></script>
</body>
</html>