<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link href="../main.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="../bulma/bulma.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <title>Document</title>
    <script src="../main.js"></script>
</head>
<body>
    <img src="/image/2.jpg" class="sidepd4">
    <hr class="hr1">
    <div class="wrapper">
        <p class="txt">このページでは、EA「CEED」の導入と運用方法を解説致します。上から順にマニュアルに沿って進めてください。<br>
        <br><strong>※ 入金や出金に関してお困りの際はこちらまでお問い合わせください。</strong></p>
    
         <a id="link" href="https://line.me/R/ti/p/%40jov0846c"><strong>CEED サポートLINE@はこちら</strong></a>
         
        
    </div>
    <div class="wrapper2" >
     <p class="txt1">
    <strong>1.FX証券会社の口座開設</strong><br>
    </p>
    </div>
<!-- /.wrapper -->
<div class="wrapper4">
    <p class="txt">このページでは、EA「CEED」の導入と運用方法を解説致します。上から順にマニュアルに沿って進めてください。
    <br>
    <br>
    下のリンクからGemforex証券の口座開設ページに進んでください。
<strong class="purple"><br>（※下のアクセスリンクはCEED運用専用となりますので、必ず下のリンクからアクセスをお願い致します)</strong>
    </p>
    <a href='https://gforex.asia/platform/gem-mt4.php'>
    <button type="button" class="btn btn-lg btn-primary mgtop">MT4解説動画</button>
    </a>
    </div>
    <div class="wrapper4">
    <p class="txt">
        上の「口座開設ボタン」を押すと、証券会社のHPに移動しますので、画面の案内に従って、
        必要項目を記入してください。
    </p>
    </div>
    
    <div class="wrapper4">
    <p class="txt">
        <strong>口座タイプ</strong>：日本円口座（オールインワン）<br>
        <br>
        <strong>登録種別</strong>：個人口座<br>
        <br>
        <strong>お名前</strong>：ご自身の名前を記入<br>
        <br>
        <strong>メールアドレス</strong>：フリーメールアドレスで問題ありません。（※すでにGemforexの口座をお持ちの方は、違うメールアドレスにて登録してください）
    </p>
    </div>
    <div class="wrapper5">
    <img class="responsiveImg" src="/images/2.jpg">
    </div>
    <div class="wrapper4">
    <p class="txt">
    必要項目を記入後、下の「私はロボットではありません」にチェックを付けて、送信をしてください。
    </p>
    </div>
    <div class="wrapper5">
    <img class="responsiveImg" src="/images/3.jpg">
    </div>
    <div class="wrapper4">
    <p class="txt">
    先ほど登録したメールアドレス宛に、「登録完了通知」メールが送信されますので、ご確認ください。これで口座開設は終了です。
    </p>
    </div>
     <div class="wrapper5">
    <img class="responsiveImg" src="/images/4.jpg">
    </div>
    <div class="wrapper2" >
     <p class="txt1">
    <strong>2.システム稼働ONの設定</strong><br>
    </p>
    </div>
    
     <div class="wrapper4">
    <p class="txt">
    送信されたメールには、ログインパスワードが記載されており、マイページログイン用のパスワードとなります。では、下のリンクからマイページログイン画面へ移動してください。
    </p>
    <a href='https://gforex.asia/login.php'>
    <button type="button" class="btn btn-lg btn-success mgtop">ログインページ</button>
    </a>
    <p class="txt">
    <br><br>
    ログインフォームがありますので、登録したメールアドレスとパスワード（口座開設した時にメールで届いたログインパスワードの事）を入力し、「ログイン」ボタンを押してください。
    </p>
    </div>
    <div class="wrapper5">
    <img class="responsiveImg" src="/images/6.jpg">
    </div>
    
   
    <div class="wrapper4">
    <p class="txt">
    これで、マイページへのログインは完了です。マイページでは、個人情報の入力や入金・出金等の操作が可能です。
    </p>
    </div>
    <div class="wrapper4">
    <p class="txt">
        <br>
    続いて、システム稼働のONの設定を行います。この設定を行う事で、CEEDが稼働を始めます。<br>
    まず、マイページにログインを行ってください。
    </p>
    </div>
    <div class="wrapper5">
    <img class="responsiveImg" src="/images/保有口座一覧.jpg">
    </div>
    <div class="wrapper4">
    <p class="txt">
    左メニューの保有口座一覧をクリックしてください。
    </p>
    </div>
    <div class="wrapper5">
    <img class="responsiveImg" src="/images/MAM申請1.jpg">
    </div>
    <div class="wrapper4">
    <p class="txt">
    先ほど、開設した口座情報が表示されます。（５から始まる口座番号です）下の「MAM口座申請」を押してください。
    </p>
    </div>
    <div class="wrapper5">
    <img class="responsiveImg" src="/images/MAM申請2.jpg">
    <img class="responsiveImg" src="/images/MAM申請3.jpg">
    </div>
     <div class="wrapper4">
    <p class="txt">
    OKを押してください。口座開設に登録したメールアドレスに「確認メール」が届きますので、確認してください。
    </p>
    </div>
    <div class="wrapper5">
    <img class="responsiveImg" src="/images/MAM申請4.jpg">
    </div>
     <div class="wrapper4">
    <p class="txt">
    確認メールに記載されているURLをクリックして有効化をお願いします。
    </p>
    </div>
    <div class="wrapper5">
    <img class="responsiveImg" src="/images/MAM申請5.jpg">
    <img class="responsiveImg" src="/images/MAM申請6.jpg">
    <img class="responsiveImg" src="/images/MAM申請7.jpg">
    </div>
    <div class="wrapper4">
    <p class="txt">
    最後にMAM利用に関して同意の上、設定を完了します。
    </p>
    </div>
    <div class="wrapper5">
    <img class="responsiveImg" src="/images/MAM申請8.jpg">
    </div>
    <div class="wrapper4">
    <p class="txt">
    「MAM口座設定はこちらから」をクリックしてください。
    </p>
    </div>
    <div class="wrapper5">
    <img class="responsiveImg" src="/images/MAM申請9.jpg">
    </div>
     <div class="wrapper4">
    <p class="txt">
    保有口座一覧の画面に移動しますので、OFF→ONに設定してください。
    </p>
    </div>
    <div class="wrapper5">
    <img class="responsiveImg" src="/images/MAM申請10.jpg">
    </div>
    <div class="wrapper4">
    <p class="txt">
    設定変更をしてもよろしいですかとでますので、OKを押してください。<br><br>
    <strong class="skyblue">これでシステムON設定が完了しました。あとは入金すると、自動で運用が開始します。</strong>
    </p>
    </div>
    <div class="wrapper6">
    <a href="/start/2" class="next">次へ &raquo;</a>
    </div>
    

    
    
    <footer id="myFooter">
        <div id="mycontainer" class="container blackDiv">
            <div class="row blackDiv"> 
                <div id="image_wrapper" class="col-sm-12 col-md-2 blackDiv">
                    <h2 class="logo"><a href="#"><img id="ifcLogo" src="/image/IFC rogo.png"></a></h2>
                </div>
                <div class="col-sm-12 col-md-2 blackDiv footerList" >
                    <h5>製品情報</h5>
                    <ul>
                        <li><a href="https://www.ifc752.com/gallery">有料EA AUZIE</a></li>
                        <li><a href="https://www.ifc752.com/bee">有料EA BEE</a></li>
                        <li><a href="https://www.ifc752.com/blank-2">IFC SYSTEM1</a></li>
                        <li><a href="https://www.ifc752.com/ifcsystem1">IFC SYSTEM2</a></li>
                        <li><a href="https://www.ifc752.com/ifcsystem2">IFC SYSTEM3</a></li>
                        <li><a href="https://www.ifc752.com/ifcsystem4-3">IFC SYSTEM4</a></li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-2 blackDiv footerList">
                    <h5>サポート</h5>
                    <ul>
                        <li><a href="https://line.me/R/ti/p/%40vbu5369m">IFC EA LINE@</a></li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-2 blackDiv footerList">
                    <h5>場所</h5>
                    <ul>
                        <li>JAPAN</li>
                    
                    </ul>
                </div>
                <div class="col-sm-12 col-md-2 blackDiv footerList">
                    <h5>企業情報</h5>
                    <ul>
                        <li><a href="https://www.sinseeddeviation.com/">会社概要</a></li>
                        <li><a href="/privacypolicy">プライバシーポリシー</a></li>
                    </ul>
                </div>
                <div id="button_wrapper" class="col-sm-12 col-md-2 blackDiv">
                    <button onclick="location.href='/'" type="button" class="btn btn-default">TOPに戻る</button>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2019 Copyright IFC GROUP </p>
        </div>
    </footer>
    
    
    <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="main.js"></script>
</body>

</html>